*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:#313030;
}
/*formato da calculadora*/
.conteiner-calculadora{
    width:440px;
    height:540px;
    margin:50px auto;
    border:2px solid black;
    border-radius: 40px;
    background-color:#141414;
    box-shadow: 5px 10px black;
}
/**/
/*display da calculadora*/

.display-cal{
    background-color: #dbd8d8b7;
    text-align:right;
    padding:15px 20px;
    border:3px solid rgba(83, 83, 83, 0.233);
    border-radius: 20px;
    margin:30px 50px 20px 50px;
    width:340px;
    height: 50px;
    color:rgb(0, 0, 0);
}
/**/
/*buttons*/
.teclas{
    padding:5px;
}
.button-cal{
    text-align: center;
    margin:20px 0px;
}
button{
    outline:none;
    background-color: #111111;
    border:2px solid black;
    border-radius: 40px;
    color:#a1a1a1;
    transition:all 1s;
}
button:hover{
    background-color: #191919;
}
.button-clear-zero{
    margin-right:15px;
    height:50px;
    width: 100px;
}
.button-padrao{
    margin-left:2px;
    width: 90px;
    height: 50px;
}
.button-equal{
    float:right;
    position: relative;
    right:30px;
    top:10px;
    width: 60px;
    height: 130px;
}
button.point{
    font-weight:bold;
}
/**/